@model IEnumerable<Planet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MillionMilesFromSun.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MillionMilesFromSun.Average)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MillionMilesFromSun.Max)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colors[0]) |
                    @try
                    {
                        @Html.DisplayFor(modelItem => item.Colors[1])
                    }
                    catch(IndexOutOfRangeException)
                    {

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MillionMilesFromSun.Min)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MillionMilesFromSun.Average)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MillionMilesFromSun.Max)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
